
.ibm-plex mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

a {
    color: inherit;
}

a:hover {
    font-weight: 800;
}

body {
    font-family: 'IBM Plex Mono', 'Courier New', sans-serif;
    color: #0c0c0c;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    height: 100vh;          /* Full viewport height */
}

.columns {
    display: flex;
    gap: 20px;
    max-width: 800px;
    min-height: 460px;
}

.avatar {
    max-width: 220px;
}

.funlink1:hover {
    color: #D918B4;
}

.funlink2:hover {
    color: #14B6B1;
}

.tabs {
    display: flex;
    
    a {
        text-decoration: none;
    }
}

.summary {
    padding: 12px 28px;
    background: #F4F4F4;
}

