---
import Section from "../Section.astro";
import { projects } from "../../data";
---

<Section styles="p-1" ids="projects">
  <div class="w-full pb-40 md:pb-80">
    <h2 class="heading text-slate-900 uppercase tracking-wider font-semibold pb-4">
      Projects
    </h2>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
      {
        projects.map((project) => (
          <a
            href={project.link}
            rel="noopener noreferrer"
            class="bg-white rounded-md shadow-lg overflow-hidden flex flex-col group transform transition-all duration-[0.3s] ease-out hover:scale-[1.02] hover:-translate-y-[2px] hover:shadow-md"
          >
            <div
              class="aspect-[4/3] bg-center bg-cover transform transition-transform duration-[0.3s] ease-out group-hover:scale-[1.02]"
              style={
                project.imageUrl
                  ? `background-image: url('${project.imageUrl}'); background-size: cover; background-position: center;`
                  : "background: linear-gradient(to bottom right, #005EA2, #03BDE3);"
              }
            />
            <div class="p-4 flex flex-col flex-grow">
              <h3 class="font-semibold text-lg md:text-xl text-slate-900 transition-colors duration-150 group-hover:text-orange-700">
                {project.name}
              </h3>
              <h3 class="text-md text-slate-900 transition-colors duration-150 group-hover:text-orange-700">
                {project.title}
              </h3>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Section>
