---
import Section from '../Section.astro';
import { projects } from '../../data';
---

<Section styles='p-1' ids="projects">
  <div class='w-full pb-40 md:pb-80'>
    <h2 class="heading text-slate-900 uppercase font-semibold pb-4">
      Selected Projects
    </h2>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project) => (
        <a href={project.link} target="_blank" rel="noopener noreferrer" class="relative group aspect-[4/3] block">
          <div 
            class="absolute inset-0 rounded-md shadow-lg transition-transform duration-300 group-hover:scale-105" 
            style={project.imageUrl ? `background-image: url('${project.imageUrl}'); background-size: cover; background-position: center;` : 'background: linear-gradient(to bottom right, #005EA2, #03BDE3);'}
          ></div>
          <div class="absolute inset-0 bg-orange-700 bg-opacity-0 group-hover:bg-opacity-70 transition-all duration-300 rounded-md"></div>
          <div class="absolute inset-0 flex flex-col justify-end items-start p-3 md:p-4 lg:p-6">
            <h3 class="w-full text-xl md:text-2xl lg:text-3xl xl:text-4xl leading-tight font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white">
              {project.title}
            </h3>
            <div class={`text-sm md:text-base lg:text-lg mt-3 md:mt-4 flex items-center gap-1 ${project.imageUrl?.includes('nj_dol') || project.imageUrl?.includes('powervs') ? 'text-black group-hover:text-white' : 'text-white'} justify-between w-full`}>
              {project.name}
              <span class="ml-auto flex justify-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 md:h-5 md:w-5 lg:h-6 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </span>
            </div>
          </div>
        </a>
      ))}
    </div>
  </div>
</Section> 