---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Stained Glass">
    <section
        class="max-w-3xl mx-auto px-4 md:px-6 lg:px-8 py-12 text-slate-900 mt-24"
    >
        <header class="mb-10">
            <h1 class="text-4xl md:text-5xl font-extrabold mb-4">
                Stained Glass
            </h1>
            <p class="text-lg">
                A few examples of my work in stained glass, including original
                pieces, restorations, and shop commissions from <a
                    href="https://www.adamsmorganstainedglass.com/"
                    target="blank"
                    rel="noopener noreferrer"
                    class="text-orange-700 hover:text-orange-800 underline"
                    >Adams Morgan Stained Glass</a
                >.
            </p>
        </header>

        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-2">Process Snapshots</h2>
            <img src="/glass/5.0.jpg" alt="Stained Glass Piece 5.0" class="mb-4">
            <img src="/glass/5.jpg" alt="Stained Glass Piece 5" class="mb-4">
            <img src="/glass/5.1.jpg" alt="Stained Glass Piece 5.1" class="mb-4">
            <img src="/glass/5.2.jpg" alt="Stained Glass Piece 5.2" class="mb-4">
        </section>


        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-2">Recent Work</h2>
            <img src="/glass/1.jpg" alt="Stained Glass Piece 1" class="mb-4">
            <img src="/glass/2.jpg" alt="Stained Glass Piece 2" class="mb-4">
            <img src="/glass/3.jpg" alt="Stained Glass Piece 3" class="mb-4">
            <img src="/glass/3.1.jpg" alt="Stained Glass Piece 3.1" class="mb-4">
            <img src="/glass/4.jpg" alt="Stained Glass Piece 4" class="mb-4">
            <img src="/glass/6.jpg" alt="Stained Glass Piece 6" class="mb-4">
            <img src="/glass/7.jpg" alt="Stained Glass Piece 7" class="mb-4">
            <img src="/glass/8.jpg" alt="Stained Glass Piece 8" class="mb-4">
        </section>

        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-2">Older Work</h2>
            <p>
                I don't post much anymore, but you can see some older
                examples of my work on
                <a
                    href="https://www.instagram.com/chickenrabbitglass/?e=759fbdec-8e40-4edb-b9ec-481c18e31c77&g=5"
                    target="blank"
                    rel="noopener noreferrer"
                    class="text-orange-700 hover:text-orange-800 underline"
                >
                    Instagram
                </a>
                and
                <a
                    href="https://www.etsy.com/shop/ChickenRabbitGlass"
                    target="blank"
                    rel="noopener noreferrer"
                    class="text-orange-700 hover:text-orange-800 underline"
                >
                    Etsy.
                </a>
            </p>
        </section>
</MainLayout>
