---
const { navLinks } = Astro.props;
import { showDeveloperText } from '../data';
---

<footer class='bg-gray-50 mt-10'>
  <div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
    <div class='flex items-center mt-5 justify-between'>
      <p>Thx</p>
    </div>
  </div>
</footer>
