---
const { skill } = Astro.props;
---

<div
  class='rounded-full py-2 md:py-3 px-4 md:px-5 bg-orange-100 mx-2 min-w-[60px] flex items-center justify-center'
>
  <span class="uppercase tracking-wider text-sm ">{skill}</span>
</div>
