---
const { skill } = Astro.props;
---

<div
  class='rounded-full py-2 px-4 md:py-3 md:px-4 bg-orange-100 min-w-[60px] flex items-center justify-center'
>
  <span class='font-semibold'>{skill}</span>
</div>
