---
const { workExperience } = Astro.props;
---

<div
  class='group flex flex-col w-full p-5 transition duration-300 text-slate-700 group border-b-2'
>
  <div class='flex justify-between items-center'>
    <div class='flex flex-col gap-1'>
      <span class='font-bold'>{workExperience.organisationName} </span>
      <span class='font-light text-xs text-slate-600'
        >{workExperience.position}</span
      >
    </div>
    <span class='font-light text-sm text-slate-600'
      >{workExperience.date}</span
    >
  </div>
  <ul class='mt-1'>
    {workExperience.info.map((info) => <li>{info}</li>)}
  </ul>
</div>
