---
const {
  title = 'Nat Watkins - Portfolio',
  description = 'UX Researcher, Designer, and Front End Developer.',
} = Astro.props;
import Navbar from '../components/Navbar';
import { isTransitionEnabled, navLinks } from '../data';
import '../styles/styles.css';
import { ViewTransitions } from 'astro:transitions';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <title>{title}</title>
    {isTransitionEnabled && <ViewTransitions />}
  </head>
  <body>
    <Navbar navLinks={navLinks} client:load />
    <slot />
  </body>
</html>
